<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/img/sun.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This website was created by Soumalya Sahoo.It uses data from mapbox.com and darksky.net</p>
        <img src="/img/me.jpg" class="portrait">
    </div>
    {{>footer}}
</body>
</html>